@import "../../layout/theme.scss";

.footer {
  justify-content: center;
  align-content: center;
  background-color: $md-primary-color;
  padding: 10px 5px 5px;

  .notice-container {
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 25px;

    .copyright {
      display: flex;
      flex: 1;
      justify-content: flex-start;

      @media (max-width: 640px - 1px) {
        justify-content: center;
      }
    }

    .rss {
      display: flex;

      @media (max-width: 640px - 1px) {
        display: none;
      }

      flex: 1;
      justify-content: center;
    }

    .based-on {
      display: flex;

      @media (max-width: 640px - 1px) {
        display: none;
      }

      flex: 1;
      justify-content: flex-end;
    }

    h4 {
      color: $md-secondary-color;
      text-align: center;
      margin: 0;
    }
  }
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
}
